[Unit]
Description=Gleepost API server

[Service]
WorkingDirectory=/home/admin/go/src/github.com/draaglom/GleepostAPI/
ExecStart=/home/admin/go/src/github.com/draaglom/GleepostAPI/GleepostAPI -conf=/home/admin/go/src/github.com/draaglom/GleepostAPI/conf.json
Restart=always
