[Unit]
Description=Gleepost API server

[Service]
WorkingDirectory=/home/admin/go/src/github.com/Petergatsby/GleepostAPI/
ExecStart=/home/admin/go/src/github.com/Petergatsby/GleepostAPI/GleepostAPI -conf=/home/admin/go/src/github.com/Petergatsby/GleepostAPI/conf.json
Restart=always

[Install]
WantedBy=multi-user.target
